@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
  }


html {
    font-size: 62.5%;
  }

  body {
    font-size:1.6rem;
    background: #e5e5e5;
    font-family: sans-serif;
    text-align: justify;
  }

  a {
    text-decoration: none;
  }

  img{
    width:3.5vw;
    height: auto;
  }

  .pic {
    height: auto;
    width: 50vw;
  }

  .vert-pic{
    width: 25vw;
    height: 50vw;
  }

  .my-pic{
    height: auto;
    width: 20vw;
    border-radius: 50%;
    margin: 1vh 0 2vh 10vw;
  }
  header{
    background: #000;
    color: #FFF;
    font-family:'Titillium Web';
  }
  header h3{
    margin-left: 0.5vw;
  }

  header img{
    margin: 1vh 0 0 2vw;
    
  }
  .control {
    display: flex;
    flex-direction:column;
  } 

  .menu {
    margin: 10px 10px 0 0;
    font-family:'Titillium Web';
  }

  .wrapper{
    width:100%;
    height:100%;
    transform:translateX(-20%);
    transition:0.6s ease-in-out;
  }
  
  nav{
    width:15%;
    height:auto;
    position:absolute;
    z-index:1;
    background: rgba(0,0,0,0.5);
    border-radius: 7px;
    top:5;
    padding:8vh 3vw;
    margin: 3% 0 0 5%;
  }
  
  ul {
    list-style-type: none;
  }

  section ul{
    list-style-type: circle;
  }
  .tec{
    margin-top: 4vh;
  }
  .wrapper li {  
    font-weight: bolder;
    color: #fff;
    margin-top: 2vh;
    font-size: larger;
  }

  .wrapper li:hover {
  color: #000;
}

  main{
    margin-left:10%;
    line-height: 4vh;
    width: 80vw;
  }
 
  h1 {
    margin: 4vh 0 2vh 0;
    font-family:'Titillium Web';
  }

  button {
  background: #000;
  color: #fff;
  margin-top: 4vh;
  font-weight: bolder;  
  padding: 2%;
  border-radius: 10px;
  cursor: pointer;
  }
  input[type='checkbox']{
    display:none;
  }

  .toggle{
    position:absolute;
    z-index:2;
    left:2%;
    top: 15%;
  }

  .toggle img{
    height: auto;
    width: 3vw;
  }

  input[type=checkbox]:checked ~ .wrapper{
    transform:translateX(0);
    position:fixed;
  }
  
  input[type=checkbox]:checked ~ .toggle{
    left:7%;
    top: 22%;
    transition: 0.6s;
    position:fixed;
  }

  footer{
    margin-top: 10vh;
    background: #999;
    padding: 1%;
    font-family:'Titillium Web';
    display: flex;
    justify-content: space-around;
  }
  footer h3{
  font-size: xx-large;
  margin-bottom: 5vh;
}
  .credits{
    font-size: small;
  }

 .social-media{
    cursor: pointer;
    margin-left: 5vw;
  }

  .credits {
    text-align: center;
    background: #999;
  }

  @media(max-width:820px){
    
    img{
      width: 9vw;
    }
    
    .pic{
      width: 70vw;
    }
    .my-pic{
      width: 45vw;
    }
    nav{
      width:100%;
      height: 100%;
      margin: 3% 0 0 0%;
    }
  

    main{
      margin-left:15%;
    }

    .wrapper{
      transform:translateX(-100%);
    }
  
    .toggle{
      top: 12%;
    }

    input[type='checkbox']:checked ~ .toggle{
      left:4%;
      top: 15%;
    }
    
    .wrapper li:active{
     font-size:x-large;
    }

    .toggle img{
      height: auto;
      width: 8vw;
    }
    
    button {
      background: #000;
      color: #fff;
      /* font-size: large; */
      font-weight: bolder;  
      padding: 4%;
      border-radius: 10px;
      cursor: pointer;
      }

      footer{
        flex-wrap: wrap;
      }
  }